/*general*/
body{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(18, 18, 18);
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('../assets/grey_mountain.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(18, 18, 18);
}
img{
    width: 100%;
    height: 100%;
    transition: 250ms;
}
img:hover{
    filter: brightness(50%);
}
/*specific*/
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
    width: 100vw;
    height: 10vh;
    overflow: hidden;
}
.nav__items{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0em;
    color: white;
}
.nav__links__left{
    padding: 1em 3em 1em 0em;/*top right bottom left*/
    color: white;
}
.nav__links__right{
    padding: 1em 0em 1em 2em;/*top right bottom left*/
    color: white;
}
.gallery{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.gallery_row{
    min-height: 10px;
    background-color: rgb(43, 43, 43);
    border: none;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-right: calc(100% /2 + 15px);
}
.nav__links__left__gallery{
    padding: 1.8em 3em 0.4em 0em;/*top right bottom left*/
    color: white;
}
.nav__title{
    padding: 2em 3em;
    background-color: rgb(43, 43, 43);
}
.nav__items__border__left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid white;
    height: 80%;
    width: 70%;
    margin: 1em 2em;
}
.nav__items__border__right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid white;
    height: 80%;
    width: 70%;
    margin: 1em 2em;
}
.card__image{
    position: relative;
    width: 15vw;
    height: 33vh;
    overflow: hidden;
    margin: 1em;
    transition: 250ms;
}
.card{
    position: absolute;
    bottom: calc((100vh/2) - 40vh);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20vh;
}
.article__title{
    color: transparent;
    text-align: center;
    font-size: 8em;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}
.card__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    color: white;
    width: 90%;
    margin: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    top: 33vh;
}
.add{
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    padding-left: 1em;
}
/*transition*/
.card__image:hover{
    height: 40vh;
    transform: scale(1.1); 
}