/*general*/
*{
    box-sizing: border-box;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(18, 18, 18);
}
li{
    list-style: none;
}
::-webkit-scrollbar{
    background-color: rgba(195, 195, 195, 0.7);
    border-radius: 10px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(114, 114, 114, 0.9);
    border-radius: 5px;
    height: 3px;
}
/*specific*/
.preloader{
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(43, 43, 43);
    z-index: 5;
    transition: transform 800ms 600ms ease-out;
}
.preloader.done{
    transform: translateY(-110vh);
}
.loading{
    font-size: 32px;
    color: White;
    transition: opacity 500ms ease-out;
}
.loading.finished{
    opacity: 0;
}
.container{
    color: rgb(18, 18, 18);
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('../assets/grey_mountain.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    overflow: hidden;
}
.nav__items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    margin: 0rem 1rem;
    border-bottom: 2px solid white;
}
.left, .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 2rem;
}
.left{
    width: 70%;
    margin-right: auto;
}
.right{
    width: 50%;
    margin-left: auto;
}
.nav__title{
    background-color: rgb(43, 43, 43);
    color: white;
    width: 100%;
    height: 110%;
    padding: 2rem;
}
.nav__links{
    color: white;
    height: 100%;
    width: 100%;
    padding: 1rem;
    transition: background-color 300ms ease;
}
.nav__links:hover{
    background-color: rgba(114, 114, 114, 0.5);
}
.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.gallery_row{
    position: absolute;
    top: 100%;
    z-index: 3;
    min-height: 10px;
    background-color: rgb(43, 43, 43);
    border: none;
    min-width: 20px;
}
/*landing section*/
.landing{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
    margin: 0%;
    padding: 2rem;
    transition: opacity 300ms ease-out;
}
.article__title{
    font-size: 156px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    transform: translateY(10vh);
}

.cardBox{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc((35vh * 4) + (2rem * 4));
    height: 80%;
    overflow-x: scroll;
}
.slider{
    display: flex;
    flex-direction: row;
}
.card{
    position: relative;
    width: 35vh;
    height: 40vh;
    margin: 1rem;
    overflow: hidden;
    transition: all 200ms ease-out;
    transition-property: filter transform;
}
.card:hover{
    transform: scale(1.1); 
}
.card.greyed{
    filter: grayscale();
    transform: scale(0.9);
}
.card__image img{
    width: 100%;
    height: auto;
    background-position: center;
}
.card__content{
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( to top, rgba(18, 18, 18, 0.8) 40%, transparent);
    color: white;
    transition: all 200ms ease-out;
    transition-property: opacity top;
    opacity: 0;
}
.card__content.hovered{
    opacity: 1;
}
h3, h4{
    color: white;
    padding: 1rem;
}
.add{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid white;
    width: 20%;
}
@media screen and (max-width: 1440px) {
    .gallery_row{
        top: calc(100% + 5px);
    }
    .cardBox{
        width: calc((35vh * 2) + (2rem * 2));
    }
}
@media screen and (max-width: 1024px) {
    .gallery_row{
        top: calc(100% - 5px);
    }
    .article__title{
        font-size: 120px;
    }
    .card__content{
        opacity: 1;
    }
}
@media screen and (max-width: 860px) {
    .right{
        width: 70%;
    }
}
@media screen and (max-width: 640px) {
    .navbar{
        position: relative;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 100%;
        height: 10vh;
        overflow: hidden;
        transition: all 500ms 300ms ease-out;
        z-index: 3;
        transition-property: height background-color;
    }
    .navbar.show{
        height: 100vh;
        background-color: rgb(43, 43, 43);
    }
    .landing.disapear{
        opacity: 0;
    }
    .nav__items{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .border{
        position: absolute;
        opacity: 0;
        transition: opacity 500ms 800ms ease-out;
    }
    .border.onScreen{
        opacity: 1;
    }
    .right, .left{
        flex-direction: column;
        height: 100%;
    }
    .border{
        height: 30%;
        border: none;
    }   
    .b-left{
        position: absolute;
        top: 10%;
    }
    .b-right{
        position: absolute;
        top: 40%;
    }
    .nav__title{
        position: absolute;
        top: 0%;
        left: 2.5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        padding: 1.5rem 0rem;
        height: 10vh;
        background-color: transparent;
        border-bottom: 1px solid white;
    }
    .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 10%;
        height: 100%;
    }
    .hamburger .line{
        height: 3px;
        background-color: white;
        border-radius: 3px;
        margin: 2px;
    } 
    .gallery_row{
       display: none;
    }
    .article__title{
        font-size: 64px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }
    .cardBox{
        width: calc((25vh * 1) + (2rem * 1));
        height: 60%;
        margin: 3rem;
    }
    .card{
        width: 25vh;
        height: 30vh;
    }
}
